.menu-fixed {
  bottom: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  position: fixed;
  transform: translateY(0);
  z-index: 5000;
  flex-direction: row;
}

.menu-fixed .list-group-item {
  color: #fff;
  border: none;
  border-radius: 0px;
  display: block;
  height: 50px;
  transform: translateX(0px);
  transition: all .5s;
}

.menu-fixed .list-group-item .menu-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: flex;
  font-size: 150%;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #333;
}

.menu-fixed .list-group-item .menu-icon .fa {
  width: 20px;
  height: 20px;
  filter: var(--filter-color-white);
}

.menu-fixed .list-group-item.active {
  background-color: #c56b14;
}

.menu-fixed .list-group-item.sale {
  display: none;
}

.menu-fixed .hotline {
  display: none;
}

.menu-fixed .menu-name {
  transition: all .5s;
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0px;
  font-size: 80%;
  z-index: 1;
  background-color: transparent;
}

.menu-fixed .hotline-active .menu-icon {
  background-color: var(--color-primary);
}

.menu-fixed .menu-icon i {
  margin-bottom: 15px;
}




@media (min-width: 1400px) {
  .menu-fixed .list-group-item.active {
    transform: translateX(0px);
  }
}

@media (max-width: 1366px) {}

@media (min-width: 992px) {


  /* === MENU FIXED ===  */
  .menu-fixed {
    bottom: 100px;
    right: 0px;
    left: unset !important;
    display: block;
    position: fixed;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2500;
    width: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .menu-fixed .list-group-item {
    padding: 0px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: transparent;
    margin: 0px;
    position: relative;
  }

  .menu-fixed .menu-name {
    position: absolute;
    top: 0px;
    right: -200px;
    background-color: #c8102e;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 100%;
    width: 250px;
    left: unset;
    z-index: -1;
  }

  .menu-fixed .menu-icon i {
    margin-bottom: 0px;
  }

  .menu-fixed .list-group-item .menu-icon {
    position: absolute;
    font-size: 140%;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #c8102e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .menu-fixed.show-all .list-group-item .menu-name,
  .menu-fixed .list-group-item:hover .menu-name,
  .menu-fixed .list-group-item:focus .menu-name {
    right: 0px;
  }

  .menu-fixed .list-group-item:hover .menu-icon,
  .menu-fixed .list-group-item:focus .menu-icon,
  .menu-fixed.show-all .list-group-item .menu-icon {
    background-color: #A9113A;
    border-radius: 0px !important;
  }

  .menu-fixed .list-group-item.sale {
    display: block;
  }
}