.section-test-drive {
  background-color: #f8f8f8;
}

.box-test-drive {
  background-color: transparent;
  .box-header {
    justify-content: center;
    padding-top: 10px;
    .box-title {
      position: relative;
      z-index: 2;
      margin-bottom: 40px;
      text-align: center;

      &::after {
        top: unset;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  p {
    text-align: center;
  }
  .box-body {
    padding: 0px;
  }
  .cost-info-title {
    text-transform: uppercase;
    font-size: 150%;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    font-size: 110%;
    span {
      color: var(--color-primary);
    }
  }

  .btn-sent {
    padding: 10px 40px;
    font-size: 120%;
    text-transform: uppercase;
    margin: auto;
    background-color: var(--color-primary);
  }
  
  .note{
    font-style: italic;
  }
}
