@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&display=swap');
:root {
  --font-family: 'Montserrat',Arial,sans-serif;
  --font-size: 15px;
  --color-text: #111;
  --color-text-hover: #C3012F;
  --color-primary: #C3012F;
  --color-primary-hover: #970023;
  --color-secondary: #000;
  --color-secondary-hover: #111;
  --color-white: #fff;
  --color-orange: #fe0000;
  --color-red: #ed1c24;
  --color-blue: #288ad6;
  --color-yellow: #ffc107;
  --color-border: #ddd;
  --color-border-search: var(--color-white);
  --color-bgheader: var(--color-white);
  --color-bgmenu: var(--color-white);
  --color-bgmenu-hover: rgba(43, 40, 57, 0.16);
  --color-menu: var(--color-text);
  --color-menu-second: #fff;
  --color-bgbody: #fff;   
  --color-bgfooter: var(--color-secondary);
  --color-bgevent: var(--color-primary-hover);
  --color-bgbox: #C3012F;  
  --border-radius: 0px;
  --margin-bottom: 20px;
  --max-width-content: 750px;
  --max-width-form: 500px;
  --filter-color-primary: brightness(0) saturate(100%) invert(24%) sepia(71%) saturate(5409%) hue-rotate(333deg) brightness(71%) contrast(125%);;
  --filter-color-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(282deg) brightness(103%) contrast(103%);
  --filter-color-black: invert(0%) sepia(3%) saturate(3769%) hue-rotate(11deg) brightness(84%) contrast(87%);
  --filter-color-orange: invert(42%) sepia(72%) saturate(1522%) hue-rotate(358deg) brightness(100%) contrast(108%);
  --filter-color-red: invert(11%) sepia(77%) saturate(6961%) hue-rotate(353deg) brightness(112%) contrast(86%);
  --filter-color-yellow: invert(99%) sepia(31%) saturate(7464%) hue-rotate(348deg) brightness(94%) contrast(99%);
  --filter-color-grey: invert(33%) sepia(9%) saturate(9%) hue-rotate(350deg) brightness(94%) contrast(92%);
  --filter-color-greyish: invert(50%) sepia(45%) saturate(0%) hue-rotate(150deg) brightness(98%) contrast(89%);
}

@media (max-width: 1366px){
 
}
 
@media (max-width: 991px){
    :root{
        --margin-bottom:10px;
    }
}
 
@media (max-width: 768px){
    
}
 
@media (max-width: 575px) {
  
}

@media (max-width: 375px) {
     
}
