/* ===== Bread Crumbs ===== */
#breadcrumbs {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  background-position: center;
  &::after {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.breadcrumb {
  position: relative;
  z-index: 1;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 0;
  padding: 70px 20px 200px 20px;
}

.breadcrumb > .breadcrumb-item {
  float: none;
  display: inline-block;
}

.breadcrumb a {
  color: var(--color-white);
}
.breadcrumb > .active {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  max-width: 1000px;
  width: 100%;
  line-height: 1.3em;
  font-size: 300%;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  a {
    white-space: pre-wrap;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-decoration: none !important;
  }

  &::before {
    display: none;
  }
}
.breadcrumb > .active,
.breadcrumb > .active a {
  color: var(--color-white);
  font-weight: 700;
  cursor: default;
}

.breadcrumb a:focus,
.breadcrumb a:hover,
.breadcrumb a:active {
  color: var(--color-white);
  text-decoration: underline;
}

.breadcrumb > .breadcrumb-item + .breadcrumb-item:before {
  color: var(--color-white);
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
  .breadcrumb > .active {
    width: 100%;
    padding: 0px;
    top: 110px;
    a {
      padding: 0px 10px;
    }
    font-size: 200%;
  }
}
