.section-model {
  overflow: hidden;
}
.box-model {
  margin-bottom: 0px;
  .product-list {
    display: flex;
    flex-wrap: wrap;

    .product-item {
      width: 25%;

      .product-item-title {
        font-size: 150%;
      }
    }
  }
}

.col-product {
  display: flex;
}

/*===== PRODUCT ITEM =====*/
.product-item {
  text-align: left;
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: var(--margin-bottom);
  position: relative;
  overflow: hidden;
  z-index: 3;

  .product-item-title {
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 120%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    a {
      color: var(--color-text);
    }
  }

  .product-item-img {
    display: block;
    position: relative;
    overflow: hidden;

    a {
      position: relative;
      padding-top: 56.66%;

      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        object-fit: cover;
        transition: all 0.25s;
      }
    }

    & > a {
      display: block;
    }

    & > img {
      max-width: 100%;
      transition: all 0.5s ease-in-out;
    }
  }

  .product-item-btn {
    transition: all ease 0.5s;

    .btn {
      display: flex;
      align-items: center;
      text-align: left;
      padding: 10px 0px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 90%;

      .fa {
        filter: var(--filter-color-primary);
        margin-left: 5px;
      }
    }

    .btn-buynow {
      position: relative;
      margin-top: -16px;
      font-size: 12px;
      background-color: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);

      .fa {
        filter: var(--filter-color-grey);
        margin-right: 5px;
      }

      &:hover {
        background-color: var(--color-primary);
        color: #fff;

        .fa {
          filter: var(--filter-color-white);
        }
      }
    }
  }

  .product-item-price {
    margin-bottom: 0;
    text-align: center;

    .price {
      margin-bottom: 0;

      span {
        margin-right: 5px;
        color: var(--color-text);
        font-weight: normal;
      }
    }

    .old-price {
      font-size: 16px;
      color: #aaa;
      text-decoration: line-through;
      margin-bottom: 0;
    }

    .discount {
      position: relative;
      font-size: var(--font-size);
      font-weight: 400;
      color: var(--color-white);
      padding: 4px 6px;
      margin-left: 10px;
      background-color: var(--color-red);
      border-radius: 4px;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: -4px;
        top: 50%;
        margin-top: -5px;
        background-color: var(--color-red);
        transform: rotate(45deg);
      }
    }
  }
}

.owl-model {
  .owl-stage-outer {
    overflow: visible;
  }
  .owl-item {
    opacity: 0.4;
    .product-item {
      width: 100%;
    }

    &.active {
      opacity: 1;
    }

    &:not(.active) {
      .product-item {
        &:hover {
          &::before,
          &::after {
            display: none;
          }
          background-image: none;

          .product-item-title {
            a {
              color: var(--color-text);
            }
          }
          .product-item-price {
            .price {
              color: var(--color-text);
              span {
                color: var(--color-text);
              }
            }
          }
        }
      }
    }
  }
}

/*===== PRODUCT ITEM BUY =====*/
.product-item-buy .product-item-img {
  width: 100px;
  margin-right: 1rem;
}

.product-item-buy .product-item-img > img {
  max-width: 100%;
}

.product-item-buy .product-item-title {
  font-size: 100%;
  font-weight: 400;
}

.product-item-buy .product-item-title > a {
  color: #222;
}

.product-item-buy .product-item-title > a:hover,
.product-item-buy .product-item-title > a:focus {
  color: #fe0000;
  text-decoration: none;
}

// ==== PRODUCT LIST ====
.product-list {
  .product-item {
    .card-body {
      padding: 20px 0px;
    }

    .product-item-btn {
      .btn {
        display: flex;
        margin-bottom: 10px;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;

        .fa {
          margin-left: auto !important;
        }
      }
    }
  }
}

/* ===== DETAIL PRODUCT ===== */
.product-gallery {
  margin-bottom: 40px;
}

.product-summary {
  margin-bottom: var(--margin-bottom);

  .box-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .product-panel {
    padding: 10px 0;
  }

  .product-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .rating {
      margin-bottom: 0px;
      margin-right: 10px;
    }

    .social {
      width: unset;
    }

    .social > li > a {
      margin: 0;

      &:hover {
        text-decoration: none;
        border: none;
      }
    }
  }

  .hotline-number {
    display: flex;
    align-items: center;
    font-size: 200%;
    font-weight: bold;
    color: var(--color-secondary);

    .fa {
      width: 25px;
      height: 25px;
      filter: var(--filter-color-secondary);
    }
  }

  .hotline-desc {
    color: var(--color-text);
  }

  .product-label {
    color: #787878;
  }

  .product-name {
    font-size: 200%;
    font-weight: bold;
  }

  .rating {
    margin-right: auto;
    margin-bottom: 8px;

    .rating-value {
      font-size: 15px;
    }
  }

  .policy {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  li {
    display: flex;

    p {
      margin-bottom: 10px;
    }

    .fa {
      margin-right: 10px;
      filter: var(--filter-color-grey);
    }

    a {
      font-weight: 600;
    }
  }

  .product-special {
    font-weight: 600;
  }

  .product-price {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .price {
      color: var(--color-text);
      font-size: 200%;
      font-weight: 700;
      margin-right: 10px;
    }

    .old-price {
      color: #787878;
      text-decoration: line-through;
      font-size: 120%;
    }

    span {
      margin-right: 5px;
    }

    .sale {
      color: #787878;
    }

    .sale-off {
      position: relative;
      color: var(--color-white);
      padding: 4px 6px;
      margin-left: 1rem;
      background-color: var(--color-red);
      border-radius: 4px;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: -4px;
        top: 50%;
        margin-top: -5px;
        background-color: var(--color-red);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .product-label {
      width: 100px;
    }
  }

  .product-desc {
    padding: 0px;

    ul {
      margin-left: 0px;
    }

    p {
      position: relative;
      font-size: 15px;
      padding: 0 0 0 26px !important;
      margin-bottom: 6px;

      &:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #6d6d6d;
        position: absolute;
        left: 15px;
        top: 6px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .social > li {
    margin-left: 5px;
  }

  .product-number {
    display: flex;
    flex-direction: column;

    & > span {
      margin-right: 6px;
    }
  }

  .btn-bigbuynow,
  .btn-bigaddcart {
    margin-top: 8px;
  }

  .form-pricequote {
    border-radius: 4px;
    padding: 15px 15px 0px 15px;
    //border: 2px solid var(--color-primary);
    background-color: #ffcaab;

    .form-control {
      border: none;
      border-radius: 2px;
    }
  }
}

.product .social-share > span {
  margin-right: 6px;
}

.product-content {
  margin-top: 1rem;
  padding: 1rem;
}

.product-detail-content.max-height {
  max-height: 500px;
  overflow: hidden;
}

.show-more {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.show-more:before {
  position: relative;
  display: none;
  content: "";
  height: 75px;
  margin-top: -45px;
  background: -webkit-gradient(
    linear,
    0% 100%,
    0% 0%,
    from(rgb(255, 255, 255)),
    color-stop(0.5, rgb(255, 255, 255)),
    to(rgba(255, 255, 255, 0))
  );
}

.product-detail-content.max-height + .show-more:before {
  display: block;
}

.product-comment-fb {
  margin-top: 1rem;
}

.form-review-button .starrr {
  margin-right: 20px;
}

@media (max-width: 1366px) {
  .col-product {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 992px) {
  .product-item {
    &.product-hover {
      background-image: url(../images/bg-pro-2.jpg);
      background-size: 70% 100%;
      background-repeat: no-repeat;
      background-position: center;

      &::before {
        position: absolute;
        top: 0px;
        left: -5%;
        width: 200%;
        height: 100%;
        content: "";
        background-color: #fff;
        display: block;
        z-index: -1;
        transform-origin: 10% 100%;
        transition: all 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      }

      &::after {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 100%;
        content: "";
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        display: block;
        z-index: -2;
      }

      &:hover {
        &::before {
          transform: rotate(-90deg);
        }

        .product-item-title {
          a {
            color: var(--color-white);
          }
        }
        .product-item-price {
          .price {
            color: var(--color-white);
            span {
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .section-product {
    padding: 0px;
    margin-bottom: 10px;

    .box-product {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  .box-model {
    margin-bottom: 0px;
    .product-list {
      display: flex;
      flex-wrap: wrap;

      .product-item {
        width: 50%;

        .product-item-title {
          font-size: 100%;
        }
      }
    }
  }

  .box-product.highlight .box-body {
    padding: 10px;
  }

  .box-product.highlight .box-header .box-title {
    padding: 0px;
    font-size: 20px;
  }

  .box-product.highlight .box-header .box-title::after {
    height: 65px;
  }

  .row-product {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col-product {
    padding-left: 5px;
    padding-right: 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .product-item {
    background: none;

    &::before,
    &::after {
      display: none;
    }
  }
  .product-item .product-item-icon {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
  }

  .product-item .product-item-title {
    font-size: 100%;
  }

  .product-list .product-item .product-item-btn .btn {
    padding: 5px 0px;
  }

  .product-item .product-item-price .price {
    font-size: 90%;
    line-height: 1;
  }

  .product-item .product-item-price .discount:before {
    width: 5px;
    height: 5px;
    margin-top: -3px;
    left: -3px;
  }

  .product-gallery {
    margin-bottom: 20px;
  }

  .product-summary .product-name {
    margin-bottom: 0px;
  }

  .product-summary .product-meta {
    justify-content: space-between;
  }

  .product-summary .product-price .price {
    font-size: 170%;
    white-space: nowrap;
  }

  .product-summary .product-price .price {
    width: 100%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
  .product-info .product-availability {
    font-size: 120%;
    padding-left: 20px;
  }

  .product-info .product-availability .fa {
    width: 16px;
    height: 16px;
    top: 8px;
  }

  .product-cart,
  .product-total {
    padding: 10px 0;
  }

  .product-item-buy .product-item-img {
    width: 60px;
    margin-right: 5px;
  }

  .product-cart .product-item-buy {
    padding-right: 5px;
  }
}

@media (max-width: 375px) {
}
