@font-face {
  font-family: MMC;
  src: url(../fonts/mmcregular.eot);
  src: url(../fonts/mmcregular.eot?#iefix) format("embedded-opentype"), url(../fonts/mmcregular.woff2) format("woff2"),
    url(../fonts/mmcregular.woff) format("woff"), url(../fonts/mmcregular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MMC;
  src: url(../fonts/mmcmedium.eot);
  src: url(../fonts/mmcmedium.eot?#iefix) format("embedded-opentype"), url(../fonts/mmcmedium.woff2) format("woff2"),
    url(../fonts/mmcmedium.woff) format("woff"), url(../fonts/mmcmedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MMC;
  src: url(../fonts/mmcbold.eot);
  src: url(../fonts/mmcbold.eot?#iefix) format("embedded-opentype"), url(../fonts/mmcbold.woff2) format("woff2"),
    url(../fonts/mmcbold.woff) format("woff"), url(../fonts/mmcbold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: MMC, Arial, Helvetica, Verdana, sans-serif !important;
  --font-size: 16px;
  --color-text: #000;
  --color-text-hover: #ed0000;
  --color-primary: #ed0000;
  --color-primary-hover: #b90000;
  --color-secondary: #ed1c24;
  --color-secondary-hover: #b10309;
  --color-white: #fff;
  --color-orange: #fe0000;
  --color-red: #ed1c24;
  --color-blue: #288ad6;
  --color-yellow: #ffc107;
  --color-border: #ddd;
  --color-border-search: var(--color-text);
  --color-bgheader: #000;
  --color-bgmenu: #000;
  --color-bgmenu-hover: rgba(43, 40, 57, 0.16);
  --color-menu: #fff;
  --color-menu-second: #fff;
  --color-bgbody: #fff;
  --color-bgfooter: #000;
  --color-bgevent: var(--color-primary-hover);
  --color-bgbox: #c3012f;
  --border-radius: 0px;
  --margin-bottom: 20px;
  --max-width-content: 1000px;
  --max-width-form: 800px;
  --filter-color-primary: invert(16%) sepia(54%) saturate(6587%) hue-rotate(356deg) brightness(89%) contrast(119%);
  --filter-color-secondary: brightness(0) saturate(100%) invert(20%) sepia(65%) saturate(5399%) hue-rotate(347deg)
    brightness(92%) contrast(102%);
  --filter-color-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(282deg) brightness(103%) contrast(103%);
  --filter-color-black: invert(0%) sepia(3%) saturate(3769%) hue-rotate(11deg) brightness(84%) contrast(87%);
  --filter-color-orange: invert(42%) sepia(72%) saturate(1522%) hue-rotate(358deg) brightness(100%) contrast(108%);
  --filter-color-red: invert(11%) sepia(77%) saturate(6961%) hue-rotate(353deg) brightness(112%) contrast(86%);
  --filter-color-yellow: invert(99%) sepia(31%) saturate(7464%) hue-rotate(348deg) brightness(94%) contrast(99%);
  --filter-color-grey: invert(33%) sepia(9%) saturate(9%) hue-rotate(350deg) brightness(94%) contrast(92%);
  --filter-color-greyish: invert(50%) sepia(45%) saturate(0%) hue-rotate(150deg) brightness(98%) contrast(89%);
}

@media (max-width: 1366px) {
}

@media (max-width: 991px) {
  :root {
    --margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
}

@media (max-width: 375px) {
}
