.section-feature {
  background-color: #000;

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 5px;
    text-transform: uppercase;
    color: #a3a9ad;
    height: 60px;
    .fa {
      width: 20px;
      height: 20px;
      margin: 5px 0px;
      filter: var(--filter-color-greyish);
    }

    span {
      text-align: center;
      font-weight: bold;
      white-space: nowrap;
      font-size: 70%;
    }

    &:hover {
      color: var(--color-primary);
      .fa {
        filter: var(--filter-color-primary);
      }
    }
  }
}

.section-feature{
  position: sticky;
  bottom: -100px;  
  transition: bottom .25s linear;
}
.header-fixed { 
  .section-feature{
    bottom: 0px; 
    z-index: 100;
  }
}


@media (max-width: 991px) { 
}
