/* === Banner === */
.search-banner {
  padding: 50px 0px;
  background-color: var(--color-blue);
  background-image: url(../images_test/bg-support.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 2;
}

.search-banner::after {
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue);
  opacity: 0.8;
  z-index: 1;
}

.support-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.support-banner .title {
  font-size: 150%;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.support-banner-list {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.support-banner-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 15px;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.support-banner-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 1px;
  height: 50%;
  background-color: #fff;
  content: "";
  display: block;
}
.support-banner-item span {
  margin-bottom: 5px;
}
.support-banner-item .phone {
  font-size: 180%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
}

.support-banner-item .email {
  font-style: italic;
  color: #fff;
}

.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 7px 12px;
  max-width: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.search-form .input-group-append {
  width: 50px;
}
.search-form input {
  width: 100%;
  border: none;
}

/* === Support Category === */

.support-category {
  padding: 40px 0px;
}
.support-title {
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.support-title i {
  color: var(--color-blue);
}
.support-category-list {
  display: flex;
  flex-wrap: wrap;
}
.support-category-item {
  width: 25%;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: background 0.25s;
}
.support-category-item:hover {
  background-color: #efefef;
}

.search-list .search-item .icon i,
.support-category-item i {
  font-size: 30px;
  margin-bottom: 5px;
  background: var(--color-blue);
  background: linear-gradient(to right, var(--color-blue) 0%, #005f8d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.support-category-item span {
  color: #333;
  text-align: center;
  font-size: 90%;
}

/* === Support FAQ === */
.support-faq {
  background-color: #d4f1ff;
  padding: 40px 0px;
}
.support-faq-header .btn-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 10px 0px;
}

.support-faq-item {
  counter-increment: section;
}
.support-faq-item .support-faq-header .btn-link .counter {
  content: counter(section);
  background-color: var(--color-blue);
  color: #fff;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.support-faq-item .support-faq-header .btn-link {
  position: relative;
  width: 100%;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.support-faq-item .support-faq-header .btn-link:not(.collapsed) {
  color: var(--color-blue);
}
.support-faq-item .support-faq-header .btn-link::after {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0px;
  right: 0px;
  content: "\f078";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  display: flex;
  align-items: center;
  transform: rotateX(180deg);
}

.support-faq-item .support-faq-header .btn-link.collapsed::after {
  transform: rotateX(0deg);
}
.support-faq-item .support-faq-body {
  padding: 0px 0px 20px 0px;
}

/* === Support HighLight === */
.support-highlight {
  padding: 40px 0px;
  background-color: #f4f6fa;
}
.support-highlight-item {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.support-highlight-item i {
  font-size: 120px;
  color: #fff;
  margin-top: auto;
}

.support-highlight-item .box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.support-highlight-item .title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 150%;
}

.support-highlight-item .list-group .list-group-item {
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.support-highlight-item .card-text {
  color: #666;
  font-size: 120%;
}
.support-highlight-item .list-group .list-group-item::before {
  display: inline;
  content: "\f138";
  font-family: "Font Awesome 5 Pro";
  margin-right: 10px;
  font-size: 20px;
  font-weight: 100;
  color: #333;
}

.support-highlight-item.orange .box-img {
  background-color: #ffc107;
}

.support-highlight-item.orange .list-group .list-group-item::before {
  color: #ffc107;
}

.support-highlight-item.green .box-img {
  background-color: #8bc34a;
}

.support-highlight-item.green .list-group .list-group-item::before {
  color: #8bc34a;
}

.support-highlight-item.blue .box-img {
  background-color: #03a9f4;
}

.support-highlight-item.blue .list-group .list-group-item::before {
  color: #03a9f4;
}

.support-highlight-item.purple .box-img {
  background-color: #673ab7;
}

.support-highlight-item.purple .list-group .list-group-item::before {
  color: #673ab7;
}

/* === Support Detail === */
.support-detail {
  background-color: #fff;
}
.support-detail .col-left { 
  background-color: #fff;
}
.support-detail .article-wrap {
  padding-top: 30px;
  max-width: 100%;
}
.support-detail .col-right {
  background-color: transparent;
}
.menu-side {
  border: none;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  border-radius: 0px;
  background-color: transparent;
  padding-top: 10px;
}
.menu-side .card-header {
  background-color: transparent;
  border: none !important;
  padding: 15px;
}
.menu-side .card-header i {
  font-size: 140%;
  margin-right: 10px;
}
.menu-side .title {
  margin-bottom: 0px;
  color: #333;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-side-list .list-group-item {
  border: none;
  padding-left: 35px;
  background-color: transparent;
}
.menu-side-list .list-group-item::before {
  position: absolute;
  top: 8px;
  left: 20px;
  display: block;
  font-family: "Font Awesome 5 Pro";
  content: "\f0da";
  font-weight: 900;
  margin-right: 10px;
  color: var(--color-blue);
}
.menu-side-list .list-group-item.active {
  background-color: transparent;
  color: var(--color-blue);
}
.menu-side-list .list-group-item:hover {
  text-decoration: underline;
}
.box-rating-content {
  background-color: #f6f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}

.box-rating-content .title {
  font-size: 120%;
}
.box-rating-btn .btn {
  margin: 0px 5px;
}
.box-rating-btn .btn .fas,
.box-rating-btn .btn .fal{
  margin-right:3px;
}

.box-navigation {
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}
.box-navigation .btn {
  max-width: 50%;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.box-navigation .btn:hover {
  color: var(--color-blue);
}
.box-navigation .btn-prev {
  justify-content: flex-start;
  margin-right: auto;
}
.box-navigation .btn-next {
  justify-content: flex-end;
  margin-left: auto;
}
.box-navigation .btn-prev i {
  margin-right: 5px;
}
.box-navigation .btn-next i {
  margin-left: 5px;
}

.box-navigation .content-info {
  font-size: 80%;
}
.box-navigation .content-info .nav-label {
  text-align: left;
  font-size: 90%;
  font-style: italic;
  color: #666;
}
.box-navigation .content-info .nav-title {
  font-weight: 600;
  font-size: 120%;
}
.box-navigation .btn-prev .content-info .nav-title {
  text-align: left;
}
.box-navigation .btn-next .content-info .nav-title {
  text-align: right;
}
.box-navigation .btn-next .content-info .nav-label {
  text-align: right;
}

.box-navigation .content-info {
  display: flex;
  flex-direction: column;
}

/* ==== SEARCH ==== */
.search-nav {
  margin-bottom: 20px;
}
.search-nav .nav-link.active {
  background-color: var(--color-text-hover);
}
.search-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.search-list .search-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: -1px;
  padding: 20px 0px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
.search-list .search-item .icon {
  width: 60px;
  flex: 0 0 60px;
}
.search-list .search-item .search-body {
  width: calc(100% - 60px);
}
.search-list .search-item .icon i {
  font-size: 30px;
}
.search-list .search-item .desc {
  margin-bottom: 0px;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-list .search-item .search-title {
  font-size: 120%;
}

pre,
code {
  width: 100%;
  min-height: 200px;
  margin-bottom: 0px;
}

.editor-container { 
  margin-bottom: 20px;
  position: relative; 
  /* border-radius: 5px; */
  overflow: hidden;  
  /* border-left: 5px solid var(--color-primary); */
}

.editor-container code {
  width: 100%;
}

.editor-container .copy-clipboard {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff; 
  border: 1px solid var(--color-primary);
  border-radius: 3px; 
  text-decoration: none;
  cursor: pointer; 
  transition:opacity .25s;
}
.editor-container .copy-clipboard:hover{
  background-color: #222;
  text-decoration: none;
}
 

@media (min-width: 992px) {
  .support-banner {
    flex-direction: row;
  }
  .support-banner .title {
    margin-bottom: 0px;
  }
  .search-form {
    max-width: 80%;
  }
  .support-category-item {
    width: 16.66%;
    flex: 0 0 16.66%;
    padding: 10px 15px;
  }
  .support-category-item i {
    font-size: 50px;
  }
  .support-category-item span {
    font-size: 100%;
  }
  .support-banner-list {
    flex-direction: row;
    width: unset;
  }
  .box-navigation .content-info {
    font-size: 100%;
  }
  .support-detail {
    background-color: #f1f1f1;
  }
  .support-detail .col-right {
    background-color: #f7f9fa;
  }
}
