.main-banner {
  display: flex;
  padding-top: 20px;

  .owl-sliderbanner {
    max-height: 205px;
  }
}

.banner-top { 
  overflow: hidden;
}

.sub-banner,
.sub-banner-mobile {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.sticky-sidebar {
  .banner-left {
    left: calc(((100vw - 1200px) / 2) - 95px);
  }
  .banner-right {
    right: calc(((100vw - 1200px) / 2) - 105px);
  }

  a {
    position: fixed;
    top: 195px;
    width: 89px;
    z-index: 999;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.promote-banner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 33.33%;
  flex-shrink: 0;
  padding-left: 10px;

  a {
    line-height: 0;
    margin-bottom: 10px;

    img {
      max-height: 95px;
      width: 100%;
      object-fit: fill;
    }
  }
}

.slider-bannertop {
  max-width: 800px;
  max-height: 205px;
  padding-top: 5px;
  overflow: hidden;
}

//===== ADS =====
.box-ads {
  .box-title {
    padding: 0px;
  }
}
.ads {
  margin-bottom: 10px;
}

.box-ads-left {
  .ads {
    margin-bottom: 0;
  }
  img {
    width: 100%;
  }
}

.ads-item {
  text-align: center;
  .img-block {
    border-radius: var(--border-radius);

    &::before,
    &::after {
      display: none;
    }
  }
}

.box-ads-brand {
  .ads-item {
    display: block;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
}

.box-fanpage-left .fanpage {
  margin-top: 10px;
  overflow: hidden;
}

// ==== HOME BANNER ====
.home-banner {
  display: flex;
  margin-bottom: 10px;

  .ads-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 465px;

    .ads-item {
      margin-bottom: 10px;
      padding-left: 10px;
      width: 50%;
    }
  }
}

.wrap-slider {
  padding-top: 20px;
  width: calc(100% - 465px);
}

.owl-sliderbanner {
  border: 1px solid #ebebeb;
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;

  .owl-item {
    .item {
      img {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        height: 404px !important;
        width: 100%; 
        object-fit: cover;
      }
    }
  }
}
 
.owl-sliderbanner-info {
  border: 1px solid #ebebeb;
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);

  .item {
    cursor: pointer;
    display: table;
    height: 48px;
    margin: 0 auto;

    &::before {
      background-color: #e5e5e5;
      content: "";
      height: 30px;
      position: absolute;
      top: calc(50% - 15px);
      right: 0;
      width: 1px;
    }
  }

  h3 {
    display: table-cell;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 165px;
  }
}

.owl-sliderbanner-info .owl-item.synced h3 {
  font-weight: 600;
}

.owl-sliderbanner-info .owl-item.synced::after {
  background-color: var(--color-primary);
  content: "";
  left: 0;
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 1400px) {
  .home-banner {
    .ads-list {
      width: 360px;
    }
  }

  .wrap-slider {
    width: calc(100% - 360px);
  }

  .owl-sliderbanner {
    .owl-item {
      .item {
        img {
          height: 300px !important;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .sub-banner {
    display: block;
  }
  .sub-banner-mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  // ======= PAGE ========
  .wrap-slider {
    padding: 0px;
    width: 100%;
  }
  .home-banner {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
  }

  .sub-banner {
    display: none;
  }
  .sub-banner-mobile {
    display: block;
  }
  .owl-sliderbanner {
    .owl-item {
      .item {
        img {
          height: auto !important;
          min-height: 100px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (min-width: 576px) {
}

@media (max-width: 576px) {
}

@media (max-width: 375px) {
}
