
/* ===== SPINNER ===== */
.spinner{
    width:90px;
}
.spinner .form-control{
    text-align:center;
    border-radius:0!important;
    border-left-width:0;
    border-right-width:0;
    border-top:1px solid var(--color-border);
    border-bottom:1px solid var(--color-border);
    padding:5px 5px;
    height:30px;
}
.spinner button{
    width:30px;
    font-size:120%;
    text-align:center;
    border-color:var(--color-border);
    background-color:transparent;
    padding:5px 5px;
    height:30px;
}
.spinner button:hover,
.spinner button:focus,
.spinner button:active{
    cursor:pointer;
    color:var(--color-text);
    border-color:var(--color-border);
    background-color:var(--color-border);
}
.spinner button:first-child{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.spinner button:last-child{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}