/*===== LOGO =====*/
.navbar-brand {
  width: 430px;
  max-height: 70px;
  margin-right: 20px;
  padding: 0px;

  img {
    max-height: 70px;
    max-width: 100%;
  }
}

.navbar-sub-brand {
  display: flex;
  align-items: center;
  height: 50px;
  white-space: nowrap;
  font-size: 27px;
  font-weight: 600;
  color: var(--color-primary);
}

.navbar-brand-mobile {
  display: none;
}

.brands {
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-bottom: var(--margin-bottom);
}

.brand-logo {
  display: block;
  text-align: center;
}

.brand-logo img {
  max-width: 100%;
}

.brand-logo:hover {
  opacity: 0.9;
}

// ===== INFO DEALDER =====
.section-info-dealer {
  padding: 40px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
  }

  .left,
  .right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .btn-hotline {
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    background-color: var(--color-secondary);
    color: #fff;
    margin-bottom: 10px;
    .fa {
      filter: var(--filter-color-white);
      margin-right: 10px;
    }

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  .logo {
    width: 150px;
    margin-bottom: 10px;
  }

  .website {
    display: inline-block;
    margin-bottom: 10px;
  }

  .title,
  .desc-1,
  .desc-2 {
    color: var(--color-primary);
    margin-bottom: 15px;
    font-weight: bold;
  }

  .title {
    font-size: 220%;

  }

  .desc-1 {
    font-size: 150%;
  }

  .desc-2 {
    font-size: 120%;
  }

  .social {
    margin-bottom: 20px;
  }

  .qr-code {
    width: 150px;
  }
}

@media (max-width: 1366px) {}

@media (max-width: 991px) {
  .logo {
    display: block;
    z-index: 99;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: block;
    width: 30px;

  }

  .navbar-sub-brand {
    font-size: 100%;
    color: #333;
  }


  // ===== INFO DEALDER =====
  .section-info-dealer { 
    .title {
      font-size: 180%;

    }

    .desc-1 {
      font-size: 160%;
    }

    .desc-2 {
      font-size: 130%;
    }
 
  }
}

@media (max-width: 768px) {}

@media (max-width: 575px) {}

@media (max-width: 375px) {}