.section-pricequote {
  background-color: var(--color-primary);

  .title {
    color: #fff;
    font-size: 200%;
    font-weight: bold;
  }

  .desc {
    color: #fff;
    font-size: 120%;
    margin-bottom: 0px;
  }

  .form-pricequote {
    .form-group {
      margin-bottom: 0px;
    }
  }

  .row>div {
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .price-sale {
    background-color: var(--color-yellow);
    color: var(--color-primary);
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px 10px;
    padding-left: 15px;
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 34px;
    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      width: 7px;
      height: 7px; 
      border-radius: 50%;
      background-color: var(--color-primary);
      z-index: 10;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: -18px;
      transform: translateY(-50%);
      width: 10px;
      height: 32px;
      border: 10px solid transparent;
      border-right-color: var(--color-yellow);
      z-index: 1;
    }
  }
}


@media (max-width: 991px) {

  .section-pricequote {
    .title {
      font-size: 150%;
    }

    .form-pricequote {
      .form-group {
        margin-bottom: 10px;
      }
    }
    .desc { 
      margin-bottom: 10px;
    }
  }

}