.section-feature {
  .row>div:not(:last-child) {
    border-right: 1px dashed #ccc;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid transparent;
    padding: 20px 0px;
    text-transform: uppercase;
    color: var(--color-primary);

    .fa {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      filter: var(--filter-color-secondary);
    }

    span{
      text-align: center;
      font-weight: bold;
    }

    &:hover {
      color: var(--color-secondary)
    }
  }
}


@media (max-width: 991px) {

  .section-feature {
    .row>div:nth-child(1),
    .row>div:nth-child(2),
    .row>div:nth-child(3) {
      border-bottom: 1px dashed #ccc;
    }
  }

}