
.section-service{ 
    background-color: #F5F5F5;
    .service-item{
        padding: 20px;
        .icon{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;
        }
        .title{
            color: var(--color-primary);
            font-weight: bold;
            font-size: 120%;
            margin-bottom: 15px;
        }
        .desc{
            color: #333;
        }
    }   
}
