/*===== FOOTER =====*/
.footer {
  border-top: 1px solid #e2e2e2;
  margin-top: 35px;

  .footer-block {
    padding: 20px 0;

    .footer-block-title {
      font-size: 110%;
      margin-bottom: 10px;
      b{
        margin-right: 5px;
      }
    }

    .footer-list {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;

      & > li {
        list-style: none;
        position: relative;
        
        & > a {
          display: block;
          padding: 6px 0px;
         
        }
      }

      p > a {
        font-weight: bold;
        color: var(--color-blue);
        margin-right: 5px;
      }
      p > span {
        width: 70px;
        display: inline-block;
      }
    }

    .footer-fanpage {
      margin-bottom: 15px;
      overflow: hidden;
    }
  }

  .footer-contact {
    position: relative;

    .media {
      margin-bottom: 10px;
    }

    .footer-contact-icon {
      width: 24px;
    }

    .footer-contact-title {
      font-size: 110%;
      font-weight: 700;
      margin-bottom: 6px;
    }

    .footer-contact-text {
      margin-bottom: 6px;
    }

    .footer-contact-text:last-child {
      margin-bottom: 0;
    }
  }

  .footer-maps {
    margin-bottom: 10px;
    overflow: hidden;
  }
}

.copyright {
  background-color: #f1f1f1;

  p {
    color: var(--color-text);
    font-size: 90%;
    padding: 8px 0;
    margin-bottom: 0;
  }

  .designedby {
    text-align: right;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}


@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (max-width: 991px) {
  .footer{
    border-top: none;
    margin-top: 10px;

    .footer-block{
      padding: 10px 0px;
    }
  }
}

@media (max-width: 768px) {
}

@media (min-width: 576px) {
}

@media (max-width: 576px) {
}

@media (max-width: 375px) {
}
